// @import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: SquadaOne;
    src: url('/public/fonts/Squada_One/SquadaOne-Regular.ttf');
    font-style: normal;
}

#goUpButton {
    bottom: 55px;
    right: 40px;
    display: none;
    padding: 15px;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
}

#goUpButton:hover {
    background-color: white;
    color: black;
}

.brand-name {
    font-family: SquadaOne;
    font-size: 28pt;
}

.principal-container {
    min-height: 100vh;
}

.list-group-item {
    padding: 20px 30px;
}

.canvas-container {
    height: 350px !important;
    position: relative;
}

.section-title h4 {
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.info-section {
    font-weight: 800;
    letter-spacing: 1px;
}

.order-dropdown .dropdown-item:active {
    background-color: black;
}

.modal-header .modal-title {
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}