// @import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: SquadaOne;
    src: url('/public/fonts/Squada_One/SquadaOne-Regular.ttf');
    font-style: normal;
}

#goUpButton {
    bottom: 55px;
    right: 40px;
    display: none;
    padding: 15px;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
}

#goUpButton:hover {
    background-color: white;
    color: black;
}

.brand-name {
    font-family: SquadaOne;
    font-size: 28pt;
}

.principal-container {
    min-height: 100vh;
}

.list-group-item {
    padding: 20px 30px;
}

.search-box .search-icon {
    font-size: 16px;
    position: absolute;
    left: 13px;
    top: 0;
    line-height: 38px;
}

.search-box .form-control {
    border-radius: 30px;
    padding-left: 40px;
}

#ordersPerDayChart,
#ordersPerCategoryChart {
    height: 350px !important;
    margin: 0 auto;
}