@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: SquadaOne;
    src: url('/public/fonts/Squada_One/SquadaOne-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: Oswald;
    src: url('/public/fonts/oswald/Oswald-Regular.ttf'), url('/public/fonts/oswald/Oswald-Bold.ttf'),
        url('/public/fonts/oswald/Oswald-ExtraLight.ttf'), url('/public/fonts/oswald/Oswald-Light.ttf'),
        url('/public/fonts/oswald/Oswald-Medium.ttf'), url('/public/fonts/oswald/Oswald-SemiBold.ttf');
}

@font-face {
    font-family: Quicksand;
    src: url('/public/fonts/quicksand/Quicksand-Regular.ttf'), url('/public/fonts/quicksand/Quicksand-Bold.ttf'),
        url('/public/fonts/quicksand/Quicksand-Light.ttf'), url('/public/fonts/quicksand/Quicksand-Medium.ttf'),
        url('/public/fonts/quicksand/Quicksand-SemiBold.ttf');
}

/*
* ESTILOS GENERALES
*/
body {
    font-family: Quicksand;
}

#goUpButton {
    bottom: 55px;
    right: 40px;
    display: none;
    padding: 15px;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
}

#goUpButton:hover {
    background-color: white;
    color: black;
}

.navbar-brand {
    font-family: SquadaOne;
    font-size: 24pt;
}

.navbar-toggler {
    border: none;
}

// Buttons, Inputs
.btn:focus,
a,
input,
textarea,
button:focus,
select {
    outline: none !important;
    box-shadow: none !important;
}

input:focus,
select:focus,
textarea:focus {
    border-color: black !important;
}

.principal-container {
    min-height: calc(100vh - 100px);
}

/*
* HEADER
*/
// PROFILE NAVBAR
#profileNavbarToggler {
    font-size: var(--bs-nav-link-font-size);
}

#signout-link.accordion-button::after,
#admin-link.accordion-button::after {
    background-image: none;
    background-color: transparent;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: transparent;

    &::after {
        background-image: var(--bs-accordion-btn-icon);
    }
}

/*
* FOOTER
*/
i.fab::after {
    content: none;
}

/*
* RESPONSIVE
*/
@media only screen and (max-width: 768px) {

    /*
    * HEADER
    */
    .icon-text {
        display: none;
    }

}